build/
build-*/
cmake-build-*/
.DS_Store
CMakeFiles/
CMakeCache.txt
compile_commands.json
CMakeUserPresets.json
vcpkg_installed/
*.o
*.obj
*.exe
*.out
*.app/
*.dSYM/
code/view/Assets/界面图/Coupon by craftpix.pdf.*
code/view/Assets/界面图/*.url
plane
